.cta {
  padding: 3.5rem 0;
  text: {
    align: center;
  }
  &__booking {
    font: {
      size: 2rem;
      weight: 300;
    }
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    color: var(--color-grey-dark-3);
  }
  &__btn {
    & > * {
      height: 100%;
      width: 100%;
      display: inline-block;
      transition: all 0.2s;
    }
    font: {
      size: 1.5rem;
      weight: 300;
    }
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    color: var(--color-light);
    position: relative;
    overflow: hidden;
    &:hover .cta__btn-show {
      transform: translateY(100%);
    }
    &:hover .cta__btn-hide {
      top: 0;
    }
    &:hover {
      background-image: linear-gradient(
        to left,
        var(--color-primary-light),
        var(--color-primary-dark)
      );
    }
    &:focus {
      outline: none;
      animation: pulseit 1s infinite;
    }
  }
  &__btn-show {
    padding: 2rem 7.5rem;
  }
  &__btn-hide {
    padding: 2rem 0;
    position: absolute;
    top: -100%;
    left: 0;
  }
}
